.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
.env
.streamlit/secrets.toml

# Se os NetCDF forem grandes, não os envie ao GitHub comum.
data/Tmax/*.nc
data/Tmin/*.nc
!data/Tmax/.gitkeep
!data/Tmin/.gitkeep
